# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments (including uv)
.venv/
.uv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/

# mypy / other static analysis
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS / Windows
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# local.env or other local-only configs
.env
.env.*

# Backup files
*.bak
*~
workdir